.listWrapper{
    /* background-color: red; */
}

.listItem {
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    background-color: #FFAA3A;
    border-radius: 5px;
    padding: 5px 10px;
    align-items: center;
}

.itemIsAquired {
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    margin: 0;
}

.itemIsAquiredTick{
    height: 24px;
    width: 24px;
    border-radius: 50px;
    margin: auto;
}

.itemProperties {
    display: flex;
    margin: 0 0 0 10px;
    width: 90%;
    height: 100%;
    align-items: center;
    position: relative;
}

.itemRemoveButton{
    position: absolute;
    right: 0px;
}