.buttonContainer {
    padding: 0px 20px;
    display: flex;
    height: 10%;
}

.button {
    background-color: #ffffff;
    height: 64px;
    width: 64px;
    border-radius: 50px;
    position: relative;
    box-shadow: 0 3px 2px 0px rgb(0 0 0 / 30%);
    margin-right: 10px;
    display: flex;
}

.button > img {
    margin: auto;
}